body{
    width: 100%;

}

.h1-center{
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   text-align: center;
   color: darkgray;
   font-family:Arial, Helvetica, sans-serif
}

.h3-center{
   
margin-left: auto;
   
margin-right: auto;
   
width: 100%;
   
text-align: center;
   
font-family: serif;
   
font-size: 25px;
}

/* .main.background.url{
   width:1500px;
} */
.main{
   width: 1200px;
   height: 500px;
   background: url(https://cdn.pixabay.com/photo/2018/06/21/13/57/clouds-3488632_960_720.jpg);
   background-repeat: no-repeat;
   /* width: 800px; */
   /* direction: rtl; */
   /* display: grid; */
   display:flex;
   flex-wrap: wrap;   /* רק בפלקס זה עובד */
   grid-template-columns: repeat(3, 260px);
   grid-template-rows: 300px;
   gap: 150px;
   /* width: 1100px; */
   /* padding: 50px; */
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
   flex-direction: row-reverse;
   flex-wrap: nowrap;
}

.main-post{
   margin-top: 100px;
    color: white;
} 


/* .main-post a{
   border: 3px black solid;
   border-radius: 3px;
   background: rgb(202, 201, 201);
} */




.main-post h3{
   color: white;
}
.main-post img{
   width: 60px;
}
a{
   text-decoration: none;
}

