body{
   margin: 0;
   padding: 0;
}



.h1-center{
   background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Himmelsblau.jpg/1280px-Himmelsblau.jpg);
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-size: 100%;
   /*  margin-left: auto;
   margin-top: -1px;
   margin-right: auto;
   width: 100%;
   color: aliceblue;
   font-family:Arial, Helvetica, sans-serif;*/
   padding-top:  10px;
   padding-right: 10px;
   text-align: right;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 20px;
   color: cornsilk;
   height:40px;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
}


.h3-center{
   
color: black;
   
margin-left: auto;
   
margin-right: auto;
   
width: 100%;
   
text-align: center;
   
font-family: monospace;
   
font-size: 25px;
}


.main{
   width: 100%;
   height: 940px;
   display: flex;
   flex-direction: row-reverse;
   margin-top: -80px;
   background: url(https://cdn.pixabay.com/photo/2018/06/21/13/57/clouds-3488632_960_720.jpg);
   background-repeat:no-repeat  round;
   background-size: 100%; 
   background-attachment: fixed;



   justify-content: space-around;
}

.main-post{
   margin-top: 212px;
   color: rgb(255, 255, 255);
   margin-bottom: -18px;
} 


.main-post h3{
   color: white;
}
.main-post img{
   width: 60px;
}
a{
   text-decoration: none;
}
.title{
   text-align: center;
   font-size: 31px;
}

